<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eat the Burgers</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
	<script type="text/javascript" src="/assets/javascript/main.js"></script>
	<script type="text/javascript" src="/assets/javascript/edit.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>